@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/roboto-v20-latin-500.woff') format('woff');
}
/*open-sans-regular - latin */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body, ul, h1, h3, h4, h5, p, input, hr{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}
button, a, label {
    cursor: pointer;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

/*Columns layout start*/
:root{
    --col-width: 8.33%;
}
.col-1{
    width: var(--col-width);
}
.col-2{
    width: calc(var(--col-width) * 2);
}
.col-3{
    width: 25%;
}
.col-4{
    width: calc(var(--col-width) * 4);
}
.col-5{
    width: calc(var(--col-width) * 5);
}
.col-6{
    width: 50%;
}
/*Columns layout end*/

/*Header block start*/
.header {
    color: #FFFFFF;

    top: 0;
    left: 0;
    width: 100%;

}
.header-body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
}
.header-menu-burger{
    display: none;
}
.header-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.header-point:hover:after{
    --line-width: 50px;
    display: block;
    content: ' ';
    width: var(--line-width);
    height: 4px;
    background-color: #F5BD41;
    position: relative;
    top: 12px;
    left: calc(50% - var(--line-width) / 2);
}
.header-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
.header-item{
    margin-right: 24px;
    cursor: pointer;
}
.header-item svg{
    width: 30px;
    height: 30px;
}
.header-item:nth-child(2) svg{
    width: 40px;
    height: 40px;
}
.header-item-txt{
    margin-right: 24px;
    cursor: pointer;
    position: relative;
}
.header-icons .header-item:last-child{
    margin-right: 0;
}
.header-item-txt:nth-child(2){
    margin-right: 48px;
}
.header-item-txt:after{
    content: "";
    height: 4px;
    width: calc(100% - 10px);
    background-color: #F5BD41;
    display: inline-block;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 35px;
    left: 5px;
    opacity: 0;
}
.header-item-txt:hover:after{
    opacity: 1;
}
.header-list span{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
/*Header block end*/
